<center>
<div class="jumbotron bg-primary">
  <h1 class="display-4" style="color: white;">Manage Your Account Here</h1>
  <p class="lead" style="color: white;">{{greetMessage}}</p>
  <hr class="my-4" style="color: white;">
  <p style="color: white;">Keep your PassBook updated.</p>
  <a class="btn btn-warning btn-lg " href="/calculator" role="button">PassBook</a>
</div>
</center>